/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    border: 10px solid #ddd;
}

h1 {
    color: #ddd;
    font: 900 60px "Roboto", sans-serif;
    margin-top: 20px;
}

.flex-item {
    padding: 10px;
    font: 900 60px "Roboto", sans-serif;
    color: #fff;
    text-align: center;
    text-shadow: 4px 2px 0 rgba(0, 0, 0, 0.2);
}

.item-1 {
    background-color: #ff9966;
}

.item-2 {
    background-color: #ffcc00;
}

.item-3 {
    background-color: #00cc00;
}

.item-4 {
    background-color: #3399ff;
}

.item-5 {
    background-color: #cc3399;
}

.item-6 {
    background-color: #009999;
}

.item-7 {
    background-color: #cc0000;
}

.item-8 {
    background-color: #9966ff;
}

/* Custom styles */

.flex-container {
    display: flex;
    height: 150px;
}

.flex-item {
    flex-grow: 1;
}

.container-1 .item-2 {
    flex-grow: 3;
}

.container-2 .item-2 {
    flex-grow: 2;
}

.container-2 .item-3 {
    flex-grow: 3;
}

.container-2 .item-4 {
    flex-grow: 4;
}

.container-3 .item-1 {
    flex-basis: 500px;
    flex-shrink: 4;
}

.container-3 .item-2 {
    flex-shrink: 3;
}

.container-3 .item-3 {
    flex-shrink: 2;
}

.container-3 .item-4 {
    flex-shrink: 1;
}

.container-4 .item-1 {
    flex: 1 0 300px;
}